@import "./theme-variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import "./fonts/montserrat/montserrat.css";
@import "./material-design-input.scss";

.box-shadow {
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.25);
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #8078ff;
  -webkit-box-shadow: 0 0 0px 1000px #2a2c6a inset;
  transition: background-color 5000s ease-in-out 0s;
}

// Login
.login-button-container{
  margin: 0 20px;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-transparent {
  background: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.btn-accept-transparent {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #95fad8;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  cursor:pointer;
  outline:none !important;
  margin-left: 3%;
}

.btn-accept {
  padding: 8px 18px;
  border-radius: 5px;
  border-radius: 100px;
  background-color: #95fad8;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #242656;
  cursor: pointer;
  outline: none !important;
}
.text-accept {
  font-family: Montserrat;
  font-size: 12.8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #95fad8;
  margin: 0;
}
.text-no-accept {
  font-family: Montserrat;
  font-size: 12.8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #7e848c;
  color: var(--steel-grey);
  margin: 0;
}
.text-non-active {
  font-family: Montserrat;
  font-size: 12.8px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #7e848c;
  margin: 0;
}
.standard-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component-card {
  border-radius: 5px;
  background-color: #2a2c6a;
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.25);
  padding: 23px 25px;
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}
.table-card {
  border-radius: 5px;
  background-color: #2a2c6a;
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.horizontal-divisor {
  height: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.9;
  background-color: #1d1f4a;
  margin-top: 23px;
}
.oval-image{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
.name-text{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.98;
  letter-spacing: normal;
  color: #f6f7fa;
}
.name-text-mobile{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.98;
  letter-spacing: normal;
  color: #f6f7fa;
}
.content-container{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 9px;
}

/* Track */

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: #95fad8;
  border-radius: 10px;
}
input {
  outline: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
input[type=number] {
  -moz-appearance:textfield;
}
textarea {
  outline: none;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range{
  background-color: #2a2c6a
}
.react-datepicker__header{
  background-color: #2a2c6a
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
button:focus {outline:0;}
*:focus {outline:none;}
.ReactVirtualized__Table__rowColumn{
  white-space: normal;
  overflow: visible !important;
}
.ReactVirtualized__Table__row{
  overflow: visible !important;
}
.rdrCalendarWrapper{
  width: 100%;
  border-radius: 5px;
}
.rdrMonth{
  width: 100%
}
.rdrDateDisplayItemActive{
  border-color: transparent
}
.rdrCalendarWrapper{
  background-color: #2a2c6a; 
}
.rdrDayNumber span{
  color: #95fad8; 
}
.rdrNextPrevButton{
  border-radius: 20px;
  background: #95fad8;
}
.rdrNextPrevButton:hover{
  background: #95fad8;
}
.rdrMonthAndYearPickers select{
  color: #95fad8; 
}
.rdrMonthAndYearPickers select option{
  background-color: #2a2c6a
}
.rdrDateDisplay{
  background-color: transparent
}
.rdrDateDisplayItem{
  border-bottom: 1px solid #95fad8;
  border-radius: 0;
  background-color: transparent;
}
.rdrMonthAndYearPickers select{
  border: 1px solid #95fad8;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='#95fad8' xmlns='http://www.w3.org/2000/svg' width='30px' viewBox='0 0 24 24'><path d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/><path fill='none' d='M0 0h24v24H0V0z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}
.ReactVirtualized__Table__headerRow{
  height: auto !important;
}
.ReactVirtualized__Table__headerTruncatedText{
  white-space: normal;
  overflow: visible;
}
.gm-fullscreen-control{
  top: 50px !important;
}
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
#pac-input{
  // top: -72px !important;
  background-color: #242656;
}
.update-notification {
  background-color: rgb(149, 250, 216);
  color: #2a2c6a;
  display:block;
  padding:0.8em 1.2em;
  text-decoration: none;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  font-weight: bold;
  margin-right: auto;
  border-radius: 20px;
  width: 434px;
}
.update-notification:hover {
  text-decoration: none;
  color: #2a2c6a;
}
@media(max-width: 500px){
  .update-notification {
    width: 90%;
  }
}
@media(max-width: 360px){
  .rdrDateDisplayItem input{
    font-size: 16px;
  }
}
@media(max-width: 1230px) {
  .component-card {
    margin: 0 25px;
    margin-top: 40px;
  }
  .table-card {
    margin: 0 25px;
    margin-top: 40px;
  }
}
